In [1]:
import pandas as pd
dataset = pd.read_csv('data/data_banknote_authentication.csv')
dataset.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [2]:
dataset.isna().sum()

variance    68
skewness    46
curtosis     0
entropy      0
class        0
dtype: int64

In [3]:
dataset.describe()

          variance     skewness     curtosis      entropy        class
count  1304.000000  1326.000000  1372.000000  1372.000000  1372.000000
mean      0.452238     1.971373     1.397627    -1.191657     0.444606
std       2.835778     5.867722     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.762350    -1.669400    -1.574975    -2.413450     0.000000
50%       0.519485     2.408650     0.616630    -0.586650     0.000000
75%       2.835300     6.839975     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [4]:
dataset.dropna(inplace=True)

In [5]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [6]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1365    1
1366    1
1367    1
1369    1
1371    1
Name: class, Length: 1259, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 0)

In [10]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()

In [11]:
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [42]:
#https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDClassifier.html
from sklearn.linear_model import SGDClassifier
model = SGDClassifier(loss='log', learning_rate='invscaling', eta0 = 1, power_t=0.5)
model.fit(X_train_scaled,y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=1, fit_intercept=True,
              l1_ratio=0.15, learning_rate='invscaling', loss='log',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.2, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [43]:
model.score(X_test_scaled,y_test)

0.9936507936507937

In [44]:
model.n_iter_

34

In [45]:
y_pred = model.predict(X_test_scaled)

In [46]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      0.99       167
           1       0.99      1.00      0.99       148

    accuracy                           0.99       315
   macro avg       0.99      0.99      0.99       315
weighted avg       0.99      0.99      0.99       315

In [47]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[165   2]
 [  0 148]]

In [48]:
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred))

0.9866666666666667

In [ ]:
#GridSearchCV